body{
    background-color: rgb(224, 26, 125), 144, 164);
}

#titulo {
    color: #9039af;
    font-size: 50px;
    text-align: center;
}

.texto {
    color:rgb(14, 228, 192)
    font-size: 30px;
    text-align: justify;
}